GOOGLE_API_KEY=your_google_api_key_here
DATABASE_URL=pollen_monitor.db

SLACK_WEBHOOK_URL=https://hooks.slack.com/services/...

LATITUDE=35.740065576074734
LONGITUDE=139.66569435787653
PLACE_NAME="Tokyo, Japan"
THRESHOLD=3

RESEND_API_KEY=your_resend_api_key_here
